html {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    border: 0px;
    
}

body {
    background: #4A4E69;
    color: #F2E9E4;
    font-family: 'Cormorant Garamond', serif;
    padding: 0;
    margin: 0;
    border: 0;
}


div.layout {
    display: flex;
    flex-direction: column;
    
}

.container {
    padding: 0px 200px;
    max-width: 2000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#nav {
    margin: 0;
}

nav {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: #22223B;
    top: 0;
    transition: transform .5s; 

}

.nav--hidden {
    transform: translateY(-125px);
    box-shadow: none;
}

.wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}


nav div{
    padding-bottom: 0;
}
nav h1 a{
    color: #F2E9E4;
    padding-bottom: 15px;
    font-size: 60px;
    font-weight: bold;
    transition: color .2s;
}

nav h1 a:hover {
    color: #C9ADA7;
}

nav ul {
    display: flex;
    list-style-type: none;
}

div.side-link-container {
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
}


ul.side-links {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;   
}

ul.side-links::after {
    content: "";
    display: block;
    width: 1px;
    height: 140px;
    margin: 0px auto;   
    background-color: #F2E9E4;
}

ul.side-links li {
    padding: 10px;
}


li a svg {
    fill:#F2E9E4;
    border-radius: 0;
    width: 25px;
    height: auto;
    transition: fill .2s;  
}

li a svg:hover {
    fill: #C9ADA7;
   
}



div.link-container{
    margin-left: 30px;
    display: inline-flex;
    align-items: center;
}
.link-container ul a {
    color: #F2E9E4;
    padding: 20px;
    font-family: 'Proza Libre';
    text-decoration: none;
    cursor: default;
    transition: color .2s;
}

.link-container ul a:hover {
    color: #C9ADA7;
}

#research {
    cursor:pointer;
}
#cv {   font-family: 'Proza Libre';
        background-color: transparent;
        border: 2px solid ;
        border-radius: 5em;
        padding: 0.75rem 1rem;
        line-height: 1;
        cursor: pointer;
        margin-left: 30px;
        transition: color .2s, background-color .2s, border-color .2s;
}

#cv:hover {
    border-color: transparent;
    color: #4A4E69;
    background-color: #C9ADA7;
}



section.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0px;
}
h1.home {
    font-size: clamp(80px, 10vw, 120px);
    color: #C9ADA7 ;
    margin: 0 1em;
    margin-top: 1em;
    margin-left: 0;
}

h2.home {
    font-size: clamp(40px, 6vw, 50px);
    margin-bottom: 5em;
}





section {
    margin-top: 30px;
    margin-bottom: 30px;
}

section.about {
    margin-top: 15em;
    padding: 5em 0;
}

#papers-beg {
    margin-top: 20px;
}

div.ib-container{
    margin: 0px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

/* Changed this for all paragraphs */
 p {
    font-family: 'Proza Libre';
    line-height: normal;
    font-size: clamp(10px, 6vw, 16px);
    line-height: 2;
}

p.about {
    max-width: 700px;
    min-width: none;
    margin-right: 100px;
}

p.selected-research {
    border: 5px;
    font-size: 1em;
    margin-top: 50px;
    max-width: 800px;
    line-height: 2;
}

div.selected-research {
    margin-left: 12.5%;
}

img {
    
    width: 400px;
    height: 400px;
  
    border-radius: 50%;
    object-fit: contain;

}

h2.about {
    font-size: clamp(30px, 6vw, 50px);
    margin-bottom: 30px;
    
}

h3.about {
    font-size: clamp(18px, 6vw, 24px);
    font-family: "Proza Libre";
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 3em;


}

div.papers p {
    font-family: 'Proza Libre';
    line-height: normal;
    font-size: clamp(10px, 6vw, 18px);
}

div.papers p a {color: #C9ADA7 }


footer {
    margin-top: 50px;
}


footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #C9ADA7;
    font-family:'Courier New', Courier, monospace;
    background-color: #2E2423;
    padding: 10px 10px;


}

footer a {
    color: #C9ADA7;
    text-decoration: none;
    transition: color .2s;
}

footer a:hover {
    color:#F2E9E4;
}





@media (min-width: 800px) and (max-width: 1000px)
{

}


@media (max-width: 1550px) {
    
    img {
        width: 300px;
        height: 300px;
    }
}




@media (max-width: 1200px) {
    
    div.ib-container{
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
    }
    p.about {
        margin-right: 50px;
    
     

    }
    div.icons ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0px;
    }

    div.icons ul::after, div.icons ul::before {
        content: "";
        display: flex;

        width: 200px;
        height: 1px;   
        background-color: #F2E9E4;
    }

   

    li {
        display: inline;
    }

    div.side-link-container {
      display: none;
    }

    div.container {
        padding: 0px 50px;
    }
}


@media (min-width: 1201px) {
    div.icons {
        display: none;
    }
}

@media (max-width: 1149px) {
    p.about {
        margin-top: 75px;
        margin-right: 0px;
        
    }
    img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 950px) {
    div.icons ul::before, div.icons ul::after {
        content: "";
        display: flex;

        width: 50px;
        height: 1px;   
        background-color: #F2E9E4;
    }
}